.black-square {
  width: 64px;
  height: 64px;
  background-color: #5C4033;
}

.white-square {
  width: 64px;
  height: 64px;
  background-color: #DEB887
}

.selected {
  box-shadow: inset -2px 0 0 blue, inset 0 -2px 0 blue, inset 2px 0 0 blue, inset 0 2px 0 blue;
}

.hasWhiteKing {
  //used for quickly locating white king
}

.hasBlackKing {
  //used for quickly locating black king
}

.inCheck {
  box-shadow: inset -4px 0 0 red, inset 0 -4px 0 red, inset 4px 0 0 red, inset 0 4px 0 red;
}

.blackPiece {
  box-shadow: inset -2px 0 0 black, inset 0 -2px 0 black, inset 2px 0 0 black, inset 0 2px 0 black;  
}

.whitePiece {
  box-shadow: inset -2px 0 0 white, inset 0 -2px 0 white, inset 2px 0 0 white, inset 0 2px 0 white;  
}
