.black-square {
  width: 64px;
  height: 64px;
  background-color: #5C4033;
}

.white-square {
  width: 64px;
  height: 64px;
  background-color: #DEB887
}

.selected {
  box-shadow: inset -2px 0 0 blue, inset 0 -2px 0 blue, inset 2px 0 0 blue, inset 0 2px 0 blue;
}

.hasWhiteKing {
  //used for quickly locating white king
}

.hasBlackKing {
  //used for quickly locating black king
}

.whiteInCheck, .blackInCheck {
  box-shadow: inset -4px 0 0 red, inset 0 -4px 0 red, inset 4px 0 0 red, inset 0 4px 0 red;
}

.blackPiece {
  //used to know where every black piece is  
}

.whitePiece {
  //used to know where every white piece is 
}

.whiteWins {
  //used after white has won to display a victory message
}

.blackWins {
  //used after black has won to display a victory message
}

img {
  max-width: 100%;
  max-height: 100%;
}
