.black-square {
  width: 64px;
  height: 64px;
  background-color: #5C4033;
}

.white-square {
  width: 64px;
  height: 64px;
  background-color: #DEB887
}

.selected { /*this does make the whole board move, which i dont want*/
  border: 2px solid red; 
}
