img {
  max-width: 85%;
  max-height: 85%;
}

body {
  margin: 10%;
}

table {
  table-layout: fixed;
}

td {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
}

#buttons {
  text-align: center;
}

#year {
  /*nothing for now*/
}

.alive {
/*   just a holder used to see if something is alive and calculate its next move */
}

.alive1 {
  height: 50px;
  width: 50px;
/*   background-color: lightgreen; */
  border: 1px solid bisque;
  text-align: center;
}

.alive2 {
  height: 50px;
  width: 50px;
/*   background-color: green; */
  border: 1px solid bisque;
  text-align: center;
}

.alive3 {
  height: 50px;
  width: 50px;
/*   background-color: orange; */
  border: 1px solid bisque;
  text-align: center;
}

.alive4 {
  height: 50px;
  width: 50px;
/*   background-color: chocolate; */
  border: 1px solid bisque;
  text-align: center;
}

td {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid bisque;
  text-align: center;
}

.hide {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 2px solid white;
  text-align: center;
}

[id="0"], [id="1"], [id="2"], [id="3"], [id="4"], [id="5"], [id="6"] {
  border-bottom: 4px solid brown;
}

[id="8"], [id="9"], [id="10"], [id="11"], [id="12"], [id="13"] {
  border-left: 4px solid brown;
}

[id="15"], [id="16"], [id="17"], [id="18"], [id="19"], [id="20"], [id="27"] {
  border-top: 4px solid brown;
}

[id="22"], [id="23"], [id="24"], [id="25"], [id="26"] {
  border-right: 4px solid brown;
}

[id="28"], [id="29"], [id="30"], [id="31"], [id="32"] {
  border-top: 4px solid brown;
  border-bottom: 4px solid brown;
}

[id="33"], [id="51"], [id="61"] {
  border-right: 4px solid brown;
  border-top: 4px solid brown;
}

[id="34"], [id="35"], [id="36"], [id="37"] {
  border-right: 4px solid brown;
  border-left: 4px solid brown;
}

[id="38"], [id="54"], [id="62"] {
  border-right: 4px solid brown;
  border-bottom: 4px solid brown;
}

[id="39"], [id="40"], [id="41"], [id="42"] {
  border-top: 4px solid brown;
  border-bottom: 4px solid brown;
}

[id="43"], [id="57"] {
  border-left: 4px solid brown;
  border-bottom: 4px solid brown;
}

[id="44"], [id="45"], [id="46"] {
  border-right: 4px solid brown;
  border-left: 4px solid brown;
}

[id="47"], [id="59"] {
  border-top: 4px solid brown;
  border-left: 4px solid brown;
}

[id="48"], [id="49"], [id="50"] {
  border-top: 4px solid brown;
  border-bottom: 4px solid brown;
}

[id="52"], [id="53"] {
  border-right: 4px solid brown;
  border-left: 4px solid brown;
}

[id="55"], [id="56"] {
  border-top: 4px solid brown;
  border-bottom: 4px solid brown;
}

[id="58"] {
  border-right: 4px solid brown;
  border-left: 4px solid brown;
}

[id="60"] {
  border-top: 4px solid brown;
  border-bottom: 4px solid brown;
}

[id="63"] {
  border-top: 4px solid brown;
  border-bottom: 4px solid brown;
  border-left: 4px solid brown;
}
