.square, .dead {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 2px solid red;
  text-align: center;
}

.alive {
  height: 50px;
  width: 50px;
  background-color: green;
  border: 2px solid red;
  text-align: center;
}
