/* Let's add some CSS styling to the homepage*/
h1 {
  background: black;
  color: white;
  font-family: verdana;
  font-size: 400%;
}

li {
  display: inline-block;
  margin: 5px;
  padding: 5px 5px 5px 0;
  background: #9bbbef;
  font-family: verdana;
}
