/* Let's add some CSS styling to the homepage*/
body {
  background: black;
}

h1 {
  color: white;
  font-family: verdana;
  font-size: 400%;
  padding: 20px;
  margin: 0 0 0 15px;
}

li {
  display: inline-block;
  margin: 15px 15px 15px 0px;
  padding: 10px 10px 10px 10px;
  background: #9bbbef;
  border-radius: 10px;
  font-family: verdana;
}

.projects {
  background: white;
}

footer p {
  margin: 0 0 0 15px;
  color: white;
}
