/* Let's add some CSS styling to the homepage*/
h1 {
  background: black;
  font-family: verdana;
  font-size: 400%;
}

li {
  display: inline-block;
  margin: 5px;
  background: black;
  font-family: verdana;
}
